
/* Override bootstrap class */

.navbar-brand {
    margin-right: 5rem;
}

.active {
    text-decoration: underline;
    -webkit-text-decoration-color: #30CFD0;
    text-decoration-color: #30CFD0;
    -webkit-text-decoration-style: wavy;
    text-decoration-style: wavy;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*
    Custom CSS
*/

h1 {
    font-size: 5em;
    font-weight: 700;
}

h2 {
    font-size: 4em;
    font-weight: 700;
}

.custom-padding {
    padding-top: 80px;
    padding-bottom: 80px;
}

.custom-text {
    background: linear-gradient(to right, #30CFD0 0%, #6012bf 100%);
    background-clip: text;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.product-card-image {
    border-radius: 16px;
}

.product-card-bg-1 {
    background: #ECECEC;
}

.product-card-bg-2 {
    background: #CFF9FF;
}

.product-card-bg-3 {
    background: #FEDCCA;
}

.product-card-bg-4 {
    background: #E6C8CC;
}

/* background: #F7F1E3; */
/* background: #FEF7B2; */


/*
    Hero section
*/

.custom-hero-stats {
    font-size: 2em;
    font-weight: 700;
}

.custom-hero-bg {
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    background: linear-gradient(to top, #30CFD0 0%, #6012bf 100%);
}

.custom-hero-image {
    height: 20em;
}

/*
    Cart
*/

#cart-body {
    height: 100vh;
    max-width: 500px;
}

/*
    Tablet
*/
@media screen and (min-width: 600px) {
    .custom-padding {
        padding-top: 112px;
        padding-bottom: 112px;
    }
    .custom-hero-image {
        height: 28em;
    }
}

/*
    Laptop
*/
@media screen and (min-width: 992px) {
    .custom-padding {
        padding-top: 144px;
        padding-bottom: 144px;
    }
    .custom-hero-image {
        height: 30em;
    }
}

/*
    Desktop
*/
@media screen and (min-width: 1200px) {
    .custom-hero-image {
        height: 36em;
    }
}